n8n-workflows/n8n_weekly_logistics_risk_monitoring.json.json
{
  "name": "n8n_weekly_logistics_risk_monitoring.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "29b4a21e-d124-4bc3-9c46-76ab14af611d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/MaryaD97/logistics-performance-risk-monitoring/main/data/weekly_kpis.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "9c9ecc63-db75-44b7-8677-22d64966ef19",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "a8a7e77c-ad57-49ee-b7b6-a8137129cb59",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "for item in _items:\n    rate = float(item[\"json\"].get(\"late_delivery_rate\", 0))\n\n    if rate >= 0.55:\n        item[\"json\"][\"risk_level\"] = \"HIGH\"\n    elif rate >= 0.45:\n        item[\"json\"][\"risk_level\"] = \"MEDIUM\"\n    else:\n        item[\"json\"][\"risk_level\"] = \"LOW\"\n\nreturn _items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "8b6898bb-5992-4069-b9e2-0fb2d4d3a6a5",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c65c7600-a247-4126-9f07-c8c7d30cab8e",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "HIGH",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "453917cc-37ef-4210-bbf8-937f433515ac",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9f6e138-cdd9-4bf8-953e-f5ddc094fa2f",
              "name": "year_week",
              "value": "={{ $json.year_week }}",
              "type": "string"
            },
            {
              "id": "dec840cb-e007-4a01-8065-81cfa4f20c99",
              "name": "late_delivery_rate",
              "value": "={{ $json.late_delivery_rate }}",
              "type": "string"
            },
            {
              "id": "b2c36446-9675-46c7-94f6-b4a4534782eb",
              "name": "avg_delivery_delay",
              "value": "={{ $json.avg_delivery_delay }}",
              "type": "string"
            },
            {
              "id": "51072478-27d5-4192-b0c3-bc8e717b46cf",
              "name": "top_risk_region",
              "value": "={{ $json.top_risk_region }}",
              "type": "string"
            },
            {
              "id": "043a82b0-0a0a-471e-ab8a-dd3fcbd4d0d5",
              "name": "risk_level",
              "value": "={{ $json.risk_level }}",
              "type": "string"
            },
            {
              "id": "ba925d4a-68b3-4be9-bc67-129fffa72b6d",
              "name": "ai_prompt",
              "value": "=Risk Level: {{$json.risk_level}}\nWeek: {{$json.year_week}}\nLate Delivery Rate: {{$json.late_delivery_rate}}\nAverage Delay: {{$json.avg_delivery_delay}}\nCancellation Rate: {{$json.cancellation_rate}}\nTop Risk Region: {{$json.top_risk_region}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "c7b74fe9-3365-446d-892b-04b91f38e743",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "fileName": "weekly_risk_report_with_explanations.csv",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        0
      ],
      "id": "c2779b9f-f920-4d8e-846c-5d0448e52d37",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 120,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        192
      ],
      "id": "f6b40ee6-a015-46cc-afb3-f3f0d925685f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "J9Fpz3IfJ7mSRVKc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a logistics data analyst.\nExplain clearly and briefly why this record has the assigned risk level.\nDo not invent data.\nKeep it under 3 bullet points.\n\n{{$json.ai_prompt}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        0
      ],
      "id": "5572c609-cb5e-4630-bce3-d8bc220f5a78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4306388f-3010-44cd-a560-a3a32044a86b",
              "name": "risk_explanation",
              "value": "={{$json.output}}",
              "type": "string"
            },
            {
              "id": "7125512f-2187-4820-82f2-5bf99f729bea",
              "name": "year_week",
              "value": "={{ $('Edit Fields').item.json.year_week }}",
              "type": "string"
            },
            {
              "id": "7e4bc832-9a19-4fa8-97cd-1b46c00b384d",
              "name": "late_delivery_rate",
              "value": "={{ $('Edit Fields').item.json.late_delivery_rate }}",
              "type": "string"
            },
            {
              "id": "dce03be3-f352-4aa4-9c1e-01094c6647d5",
              "name": "avg_delivery_delay",
              "value": "={{ $('Edit Fields').item.json.avg_delivery_delay }}",
              "type": "string"
            },
            {
              "id": "6698b461-151d-44b2-bcc2-a1356fdfea7a",
              "name": "top_risk_region",
              "value": "={{ $('Edit Fields').item.json.top_risk_region }}",
              "type": "string"
            },
            {
              "id": "65d7976e-6d46-4301-8ff0-29b7474d62cb",
              "name": "risk_level",
              "value": "={{ $('Edit Fields').item.json.risk_level }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        0
      ],
      "id": "3ddfe66e-b7c4-419a-bc91-12dfa2c174d7",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0fdc9344-e955-4dfe-bdad-44bf0e3f51ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b4efee6c1bdc9fbdee3751ed3f8d56c5d48c9c3e9a858166006ac435d2c968a"
  },
  "id": "5SZHVVvEvTUmeRh7j4s50",
  "tags": []
}